.cover {
	position: relative;
	height: 23rem;
	max-height: 23rem;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

@media (max-width: 768px) {
  .cover {
    height: 13rem;
  }
}

@media (max-width: 500px) {
  .cover {
    height: 11rem;
  }
}

.coverButtons {
	position: absolute;
	bottom: 5%;
	right: 5%;
	display: flex;
	gap: 10px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}

.cover:hover .coverButtons {
	opacity: 1;
}

.button, 
.repositionButton {
	/* bottom: 10%;
	right: 5%; */
	padding: 6px;
	background: white;
	border: 2px solid #888;
	border-radius: 4px;
	color: #6f6f6f;
	font-weight: bold;
	cursor: pointer;
	opacity: 1;
}

.image {
	position: absolute;
	left: 0;
	top: 0;
	height: auto;
    width: 100%;
    user-select: none;
    cursor: grab;
	object-fit: cover;
}

.imageContainer {
    position: relative;
    width: 100%;
    height: 100%;
	overflow: hidden;
}

.dragging {
    cursor: grabbing;
}

.repositionControls {
	position: absolute;
	bottom: 5%;
	right: 10%;
	display: flex;
	gap: 8px;
}

.repositionControls button {
	background: white;
	border: 2px solid #888;
	border-radius: 4px;
	color: #6f6f6f;
	font-weight: bold;
	padding: 6px;
	cursor: pointer;
}

@media (max-width: 650px) {
  .coverButtons {
    opacity: 1 !important;
  }
}