.container {
	padding-left: 40px;
	padding-right: 40px;
	max-width: 900px;
}

.title {
	padding: 6px;
}

.title[contenteditable]:empty::before {
	content: attr(aria-placeholder);
	color: #c4c3c3;
}

.title[contenteditable]:empty:focus::before {
	content: "";
}